In [13]:
import pandas as pd
pd.set_option('display.float_format', lambda x: f"{round(x):,}")

In [14]:
SFF = pd.read_excel("SFF Book Wordcounts.xlsx")

In [16]:
S = SFF.groupby(['Author','Series'])['Wordcount'].sum().reset_index(name ='Total')

In [17]:
S.sort_values(by='Total')

                Author                    Series      Total
145     Steven Erikson       Malazan Short Story     30,000
104        Neil Gaiman                  Coraline     30,826
78       Mark Lawrence  The Broken Empire Shorts     63,000
106        Neil Gaiman                  Stardust     63,317
107        Neil Gaiman        The Graveyard Book     69,151
..                 ...                       ...        ...
156       Terry Brooks                  Shannara  4,070,030
72   L.E. Modesitt Jr.       Saga of the Recluce  4,160,618
98       Michelle West                Essalieyan  4,394,325
115      Piers Anthony                     Xanth  4,625,601
168          pirateaba         The Wandering Inn 11,134,594

[172 rows x 3 columns]